.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.time-control {
    display: flex;
    width: 50%;
    input {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
    }
    p {
        padding: 0rem 1rem;
    }
}

.play-control {
    display: flex;
    width:30%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 40%;
    svg {
        cursor: pointer;
    }
}

input[type="range"]:focus {
    outline: none;
  }
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
  }
  input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
  }
.track {
    width: 100%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.animate-track {
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    transition: all 0.7s ease-out;
    padding: 1rem;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;   
    }
    .play-control {
        width: 60%;
    }
}
