.song-container {
    min-height: 60vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 20%;
        border-radius: 50%; 
        animation: spinning linear 45s infinite forwards;
        animation-play-state: paused;
        outline: 2px solid white;
        &.spinning {
            animation-play-state: running;
        }
    }
    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }
    h3 {
        font-size: 1rem;
    }
}
@keyframes spinning {
    100% { transform: rotate(360deg);}
}
@media screen and (max-width: 1600px) {
    .song-container {
        img {
            width: 25%;
        }
    }
}
@media screen and (max-width: 1200px) {
    .song-container {
        img {
            width: 30%;
        }
    }
}
@media screen and (max-width: 895px) {
    .song-container {
        img {
            width: 35%;
        }
    }
}
@media screen and (max-width: 768px) {
    .song-container {
        img {
            width: 40%;
        }
    }
}